wc-cambio, h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
}
button {
    font-family: 'Press Start 2P', cursive; 
}
.padre {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 100vh;
}
* {
    background-color: indianred;
}
p{
    font-family: 'Press Start 2P', cursive;
}