@font-face {
    font-family: "Game";
    src: url(src/PressStart2P-Regular.ttf);
}

html {
    background-color: burlywood;
}

h1 {
    font-family: 'Game';
}
.alineacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Game';
    font-size: smaller;
}

.contenedor {
    height: 700px;
    width: 70%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(src/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.latas {
    position: absolute;
    transition: top 1s, left 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: crosshair;
}

.parar {
    height: 25px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(255, 83, 83);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reiniciar {
    height: 25px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(83, 255, 91);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset {
    height: 25px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(252, 238, 40);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img {
    height: 90px;
    width: 90px;
}

.contador {
    height: 25px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}